.SongDetail {
  background: black;
  margin-bottom: 73px;
  position: relative;
  &-music {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 240px;
    padding: 30px 60px;
    filter: blur(5px);
  }
  &-albumCoverWrapper {
    position: absolute;
    top: 30px;
    left: 40px;
    display: flex;
  }
  &-albumCover {
    height: 240px;
    width: 240px;
    display: inline-block;
    background-size: contain;
  }
  &-wordings {
    margin-left: 40px;
    color: #ffffff;
    top: 10px;
    h3 {
      margin: 0;
      font-size: 22px;
      display: inline-block;
      padding: 5px 10px 5px 10px;
      background-color: black;
    }
    h2 {
      margin: 0;
      margin-top: 15px;
      font-size: 30px;
      font-weight: 800;
      padding: 1px 10px 1px 10px;
      background-color: black;
    }
  }
  &-infoWrapper {
    min-height: 600px;
    display: flex;
  }
  &-songInfo {
    color: #ffffff;
    width: 500px;
    border-right: 1px solid #979797;
    margin-top: 40px;
    margin-bottom: 40px;
    &-profile {
      display: flex;
      height: 200px;
      img {
        height: 115px;
        width: 115px;
        border-radius: 70px;
        margin: 50px 50px 0 50px;
      }
      div {
        margin-top: 60px;
      }
      div > p {
        margin: 0;
        font-weight: 100;
        font-size: 12px;
      }
      div > h4 {
        margin: 0;
        font-weight: 100;
        font-size: 18px;
      }
      div > h3 {
        font-size: 24px;
        margin-top: 15px;
      }
    }
    &-description {
      margin-left: 50px;
      margin-right: 50px;
      h4 {
        font-size: 20px;
        font-weight: 100;
      }
    }
  }
}
