.MyChartNav {
  border-bottom: 1px solid #dddddd;
  a,
  a:hover,
  a:active {
    color: white;
    text-decoration: none;
  }
  &-left {
    display: flex;
    padding: 40px 0px 0px;

    div {
      width: 120px;
      text-align: center;
      padding-bottom: 30px;
    }
    div:last-child {
      margin-left: auto;
    }
  }
}
