.SearchBar {
  &-form {
    display: flex;
    width: 350px;
    height: 32px;
    border: none;
    border-radius: 16.5px;
    background: white;
    padding: 0px 3px 0px 12px;
    input {
      outline: none;
    }
    &-icon {
      background: url("src/assets/icons/icon2.png") no-repeat -335px -91px;
      width: 16px;
      height: 16px;
      margin: 7px 16px 0px 0px;
    }
    &-input {
      width: 100%;
      border: none;
      border-radius: 16.5px;
    }
  }
}
