.Mypage {
  position: relative;
  color: #dddddd;
  &-myinfo {
    height: 300px;
    padding: 41px 50px 63px 51px;
    //FIX ME !
    border: 1px solid #dddddd;
    &-wrapper {
      display: flex;
      &-img {
        width: 190.2px;
        height: 192.4px;
        //FIX ME !
        border: 1px solid #dddddd;
        border-radius: 5px;
        margin-right: 32px;
      }
      &-name {
        margin-top: 10px;
        &-user {
          //FIX ME !
          background-color: cornflowerblue;
          padding: 10px;
        }
      }
      &-sns {
        margin-left: auto;
        display: flex;
        display: flex;
        min-width: 230px;
        justify-content: space-between;
        span {
          width: 41px;
          height: 41px;
          border-radius: 19.7px;
          display: inline-block;
        }
        &-insta {
          background: url('src/assets/icons/icon2.png') no-repeat -49px -433px;
        }
        &-facebook {
          background: url('src/assets/icons/icon2.png') no-repeat -109px -433px;
        }

        &-twitter {
          background: url('src/assets/icons/icon2.png') no-repeat -49px -433px;
        }
        &-edit {
          background: url('src/assets/icons/icon2.png') no-repeat -235px -434px;
        }
      }
    }
  }
  &-chart {
    padding: 0px 50px;
    &-nav {
      display: flex;
      padding: 40px 0px 30px;
      border-bottom: 1px solid #dddddd;
      div {
        width: 120px;
        text-align: center;
      }
    }
  }
}
