.Tab {
  color: white;

  &-list {
    display: flex;

    ul {
      width: 100%;
      display: flex;
      list-style: none;
      color: inherit;
      padding: 0;

      li {
        height: 45px;
        flex: 1;
        text-align: center;
        transition: border-bottom 0.5s ease-in-out;
      }
    }
  }
  
  &-content {
    height: 300px;
    font-family: NanumSquareOTFR;
    font-size: 14.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.34;
    letter-spacing: -0.5px;
    color: #cecece;
    text-align: center;
    overflow-y: scroll;
  }
}