.Navigation {
  width: 1340px;
  height: 85px;
  background-color: aliceblue;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  &-rightBox {
    // background-color:lightgoldenrodyellow;
    background-color:black;
    width: 380px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 19px;
    font-weight: 900;
    color: white;
    line-height: 85px;
  }
  &-leftBox {
    background-color: lightcoral;
  }
}