.PlayerListItem {
  position: relative;
  background: #000000;
  display: flex;
  height: 90px;
  align-items: center;
  &:hover {
    background: #1d2022;
    i {
      opacity: 1;
    }
  }
  &-artwork {
    width: 56px;
    height: 56px;
    margin-left: 90px;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 35px;
  }
  &-center {
    margin-left: 30px;
    &-top {
      color: #ffffff;
      font-size: 17px;
      margin-bottom: 10px;
    }
    &-bottom {
      color: #939393;
      font-size: 14px;
      margin: 0;
    }
  }
  &-duration {
    position: absolute;
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    right: 96px;
  }
  &-move {
    position: absolute;
    left: 34px;
    background: url('src/assets/icons/icon2.png') no-repeat -255px -235px;
    width: 14px;
    height: 27px;
    opacity: 0.5;
  }
  &-etcWrapper {
    position: absolute;
    right: 5px;
    top: 20px;
  }
  &-etc {
    position: absolute;
    background: black;
    width: 52px;
    height: 52px;
    right: 27px;
    border-radius: 35px;
    i {
      position: absolute;
      top: 19px;
      left: 24px;
      background: url('src/assets/icons/icon2.png') no-repeat -507px -40px;
      width: 4px;
      height: 15px;
    }
    &:hover {
      background: rgba(128, 128, 128, 0.233);
    }
  }
}
