@import "./src/variable.scss";

.FeaturedComponent {
  position: relative;
  padding-top: 64px;
  width: 167.5px;
  height: 209px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #000000;
  border: solid 0.5px #4d4d4d;
  background-color: #1c1d1d;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
  }

  &-mid {
    margin: 0 auto;
    height: 40px;
  }
  
  &-bot {
    margin-top: 40px;
    text-align: center;
    font-family: $font-Extra-bold;
    color: $ivory;
    font-size: 19px;
  }
}
