@import 'src/variable.scss';

.ArtworkPlay {
  font-family: $font-normal;
  margin: 0 14px;
  
  &-music {
    
    &-body {
     
      &-card:hover {
        background-color: #393939;
      }

      &-card{
        width: 188px;
        border-radius: 3px;

        &-musician {
          color: white;
        }

        &-artwork {
          position: relative;
          cursor: pointer;
          height: 188px;
          background-size: contain;
          border-radius: 3px 3px 0px 0px;
        }

        &-playicon {
          position: absolute;
          display: none;
          background: url('src/assets/icons/icon2.png') no-repeat -446px -209px;
          width: 79px;
          height: 80px;
          top: 30%;
          left: 31%;
        }

        &-artwork:hover {
          div {
            display: block;
          }
        }
      
        &-link,
        &-link:hover {
          text-decoration: none;
          color: white;
        }

        &-info {
          padding: 8px 0px 10px 7px;
        }

        &-title {
          font-family: $font-bold;
          padding-bottom: 5px;
          font-size: 14px;
        }

        &-musician {
          color: white;
          font-size: 13px;
        }
      }
    }
  }
}
