.SearchResult {
  &-top {
    padding: 42px 0px 68px 50px;
    &-inputWrapper {
      width: 546px;
      display: flex;
      border: none;
      border-bottom: solid 1px #979797;
      &-search {
        font-size: 24px;
        color: #e6e6e6;
        margin-right: 21px;
      }
      input {
        background: transparent;
        color: #45f7aa;
        font-size: 24px;
        border: none;
      }
    }
  }
}
