.BottomPlayer { 
    &>div {
        width: 1440px !important;
        height: 75px !important;
        position: fixed;
    }
    &>div.BottomPlayer-hidden {
        bottom: 0;
    }
    &>div.BottomPlayer-player {
        bottom: 75px;
    }
    &-historyTab {
        bottom: 0;
    }
}