@import "src/variable.scss";

.App {
  font-family: $font-normal;
  height: 100%;
  background-image: linear-gradient(to bottom, #181818, #000000);
 
  &-body {
    height: 100%;
    width: 100%;
    padding-top: 60px;
    background: transparent;
    margin: 0 auto;
  }
}
