.MyPlayer {
  position: fixed;
  right: 0;
  z-index: 1000;
  width: 600px;
  -webkit-box-shadow: 22px 10px 10px 10px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.52);
  box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.52);


  transition: margin-right 0.5s;
  &--closed.MyPlayer {
    margin-right: -600px;
  }
  &-topImageWrapper {
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
  }
  &-topImage {
    height: 400px;
    padding: -40px;
    filter: blur(18px);
    margin: -20px -10px -20px -5px;
    background: no-repeat center center;
    background-size: cover;
  }
  &-top {
    position: absolute;
    top: 0px;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;

    &-musicCard {
      height: 230px;
      display: flex;
      &-coverImg {
        height: 230px;
        width: 230px;
        border-radius: 5px;
        background: no-repeat center center;
        background-size: cover;
        -webkit-box-shadow: 18px 19px 48px -10px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 18px 19px 48px -10px rgba(0, 0, 0, 0.52);
        box-shadow: 18px 19px 48px -10px rgba(0, 0, 0, 0.52);
      }
      &-songInfo {
        padding-left: 45px;
        top: 0px;
        right: 0px;
        height: 120px;
        width: 280px;
        color: #ffffff;
        text-overflow: ellipsis;
        p {
          font-size: 23px;
        }
        h2 {
          font-size: 26px;
          font-weight: 600;
          width: 235px;
          height: 33px;
          text-overflow: ellipsis;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      &-player {
        position: relative;
        // background: darkcyan;
        bottom: 20px;
        right: 0px;
        height: 120px;
        width: 280px;
        &-prev {
          i {
            position: absolute;
            top: 90px;
            left: 60px;
            background: url('src/assets/icons/icon2.png') no-repeat -47px -237px;
            width: 17px;
            height: 18px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        &-play {
          i {
            position: absolute;
            top: 85px;
            left: 159px;
            background: url('src/assets/icons/icon2.png') no-repeat -115px -282px;
            width: 21px;
            height: 25px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        &-pause {
          i {
            position: absolute;
            top: 85px;
            left: 159px;
            background: url('src/assets/icons/icon2.png') no-repeat -115px -236px;
            width: 22px;
            height: 26px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        &-next {
          i {
            position: absolute;
            top: 90px;
            right: 0px;
            background: url('src/assets/icons/icon2.png') no-repeat -187px -237px;
            width: 18px;
            height: 18px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    &-musicController {
      position: absolute;
      bottom: 50px;
      height: 60px;
      width: 520px;
      &-slider {
        font-size: 17px;
        color: #ffffff;
        &-left {
          position: relative;
          top: 17px;
        }
        &-right {
          position: absolute;
          left: 360px;
          top: 17px;
        }
        &-center {
          position: absolute;
          top: 21px;
          left: 50px;
          width: 300px;
        }
      }
      &-soundWrapper {
        background: rgba(0, 0, 0, 0.38);
        border-radius: 15px;
        position: absolute;
        top: 15px;
        right: 0px;
        width: 110px;
        height: 30px;
      }
      &-sound {
        position: absolute;
        top: 6px;
        right: 15px;
        width: 85px;
      }
    }
  }

  &-bottom {
    height: 540px;
    box-sizing: border-box;
    &-playlist {
      background: black;
      position: relative;
      height: 80px;
      display: flex;
      align-items: center;
      &-shuffle {
        i {
          position: absolute;
          top: 31px;
          left: 32px;
          background: url('src/assets/icons/icon2.png') no-repeat -445px -92px;
          width: 17px;
          height: 17px;
        }
      }
      &-mainTitle {
        font-size: 22px;
        margin-left: 77px;
        margin-right: 160px;
        margin-bottom: 0px;
        color: #ffffff;
      }
      &-toggleTitle {
        position: absolute;
        right: 60px;
        font-size: 18px;
        margin-bottom: 0px;
        color: #ffffff;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
        i {
          position: absolute;
          top: 3px;
          right: -30px;
          background: url('src/assets/icons/icon2.png') no-repeat -292px -160px;
          width: 12px;
          height: 18px;
        }
      }
    }
    &-songWrapper {
      overflow: scroll;
      height: 480px;
      background: #000000;
    }
  }
  &-close {
    position: absolute;
    top: 30px;
    right: 35px;
    background: url('src/assets/icons/Artboard.png') no-repeat -449px -187px;
    width: 16px;
    height: 16px;
    z-index: 101;
  }
}
