.MyPlayer {
  position: fixed;
  right: 0;
  z-index: 1000;
  width: 600px;
  &-top {
    background: tomato;
    position: relative;
    height: 460px;
    padding: 40px;
    box-sizing: border-box;

    &-musicCard {
      position: relative;
      background: olive;
      height: 240px;
      &-coverImg {
        background: orange;
        height: 240px;
        width: 240px;
      }
      &-songInfo {
        background: rebeccapurple;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 120px;
        width: 270px;
      }
      &-player {
        background: darkcyan;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 120px;
        width: 270px;
      }
    }
    &-musicController {
      background: darkkhaki;
      position: absolute;
      bottom: 40px;
      height: 60px;
      width: 520px;
      &-slider {
        font-size: 17px;
        color: #ffffff;
        &-left {
          position: relative;
          top: 17px;
        }
        &-right {
          position: absolute;
          left: 360px;
          top: 17px;
        }
        &-center {
          position: absolute;
          top: 21px;
          left: 50px;
          width: 300px;
        }
      }
      &-soundWrapper {
        // background: rgba 0 0 0, 0.38;
        background: gray;
        border-radius: 15px;
        position: absolute;
        top: 15px;
        right: 0px;
        width: 110px;
        height: 30px;
      }
      &-sound {
        position: absolute;
        top: 6px;
        right: 15px;
        width: 85px;
      }
    }
  }

  &-bottom {
    background: sandybrown;
    height: 540px;
    box-sizing: border-box;
    &-playlist {
      background: darkorange;
      height: 90px;
    }
    &-song {
      background: darkgray;
      height: 90px;
    }
  }
  &-close {
    position: absolute;
    top: 30px;
    right: 35px;
    background: url('src/assets/icons/Artboard.png') no-repeat -449px -187px;
    width: 16px;
    height: 16px;
    z-index: 101;
  }
}
