.MyPlayer {
  position: fixed;
  right: 0;
  z-index: 1000;
  width: 600px;
  &-top {
    background: tomato;
    position: relative;
    height: 460px;
    padding: 40px;
    box-sizing: border-box;

    &-musicCard {
      position: relative;
      background: olive;
      height: 240px;
      &-coverImg {
        background: orange;
        height: 240px;
        width: 240px;
      }
      &-songInfo {
        background: rebeccapurple;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 120px;
        width: 270px;
      }
      &-player {
        background: darkcyan;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 120px;
        width: 270px;
      }
    }
    &-musicController {
      background: darkkhaki;
      position: absolute;
      bottom: 40px;
      height: 60px;
      width: 520px;
      &-slider {
        font-size: 17px;
        color: #ffffff;
        &-left {
          position: relative;
          top: 17px;
        }
        &-right {
          position: absolute;
          left: 360px;
          top: 17px;
        }
        &-center {
          position: absolute;
          top: 21px;
          left: 50px;
          width: 300px;
        }
      }
      &-soundWrapper {
        // background: rgba 0 0 0, 0.38;
        background: gray;
        border-radius: 15px;
        position: absolute;
        top: 15px;
        right: 0px;
        width: 110px;
        height: 30px;
      }
      &-sound {
        position: absolute;
        top: 6px;
        right: 15px;
        width: 85px;
      }
    }
  }

  &-bottom {
    background: sandybrown;
    height: 540px;
    box-sizing: border-box;
    &-playlist {
      background: black;
      position: relative;
      height: 80px;
      display: flex;
      align-items: center;
      &-shuffle {
        i {
          position: absolute;
          top: 31px;
          left: 32px;
          background: url('src/assets/icons/icon2.png') no-repeat -445px -92px;
          width: 17px;
          height: 17px;
        }
      }
      &-mainTitle {
        font-size: 26px;
        margin-left: 77px;
        margin-right: 160px;
        margin-bottom: 0px;
        color: #ffffff;
      }
      &-toggleTitle {
        position: absolute;
        right: 60px;
        font-size: 20px;
        margin-bottom: 0px;
        color: #ffffff;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
        i {
          position: absolute;
          top: 3px;
          right: -30px;
          background: url('src/assets/icons/icon2.png') no-repeat -292px -160px;
          width: 12px;
          height: 18px;
        }
      }
    }
    &-song {
      background: #000000;
      display: flex;
      height: 90px;
      align-items: center;
      &:hover {
        background: #1d2022;
        i {
          opacity: 1;
        }
      }
      &-artwork {
        width: 56px;
        height: 56px;
        margin-left: 90px;
        background: no-repeat center center;
        background-size: cover;
        border-radius: 35px;
      }
      &-center {
        margin-left: 30px;
        &-top {
          color: #ffffff;
          font-size: 17px;
          margin-bottom: 10px;
        }
        &-bottom {
          color: #939393;
          font-size: 14px;
          margin: 0;
        }
      }
      &-duration {
        position: absolute;
        font-size: 14px;
        color: #ffffff;
        margin: 0;
        right: 96px;
      }
      &-move {
        position: absolute;
        left: 34px;
        background: url('src/assets/icons/icon2.png') no-repeat -255px -235px;
        width: 14px;
        height: 27px;
        opacity: 0.5;
      }
      &-etc {
        position: absolute;
        background: black;
        width: 52px;
        height: 52px;
        right: 27px;
        border-radius: 35px;
        i {
          position: absolute;
          top: 19px;
          left: 24px;
          background: url('src/assets/icons/icon2.png') no-repeat -507px -40px;
          width: 4px;
          height: 15px;
        }
      }
    }
  }
  &-close {
    position: absolute;
    top: 30px;
    right: 35px;
    background: url('src/assets/icons/Artboard.png') no-repeat -449px -187px;
    width: 16px;
    height: 16px;
    z-index: 101;
  }
}
