.Tooltip {
  position: relative;
  &-tooltipWrapper {
    color: #ffffff;
    font-size: 16px;
    line-height: 58px;
    text-align: center;
  }

  &-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #646464;
    left: 145px;
  }

  &-innerFirst {
    width: 200px;
    height: 58px;
    background: #646464;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px black;
  }
  &-innerSecond {
    width: 200px;
    height: 58px;
    background: #646464;
    border-bottom: solid 1px black;
  }
  &-innerThird {
    width: 200px;
    height: 58px;
    background: #646464;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
