.Slider {
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    outline: 0;
  }
  &:hover{
    cursor: pointer;
  }
  &__bar{
    width: 100%;
    height: 2px;
    background-color: $lightGray;
    outline: 0;
  }
  &__bar__fill{
    position: relative;
    height: 100%;
    background-color: #45f7aa;    
  }
  &__handle {
    position: absolute;
    top: -5px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $lighterGray;
    outline: 0;
  }
}