@import 'src/variable.scss';

.ArtWorkPlayContainer {
  &-category {
    font-family: AvertaCYBold;
    display: flex;
    padding: 55px 65px 20px 65px;
    font-size: 20px;
  }
  &-category-title {
    margin-left: 20px;
  }
  &-musicWrapper {
    padding: 0px 75px;
    display: flex;
    justify-content: space-between;
  }
}
