@import 'src/variable.scss';

.ArtWorkPlayContainer {
  &-category {
    font-family: AvertaCYBold;
    display: flex;
    padding: 55px 65px 20px 65px;
    font-size: 20px;

    &-title {
      margin-left: 20px;
    }
  }

  &-musicWrapper {
    overflow: scroll;
    width: 1320px;
    margin: 0 auto;
    display: flex;
  }
}
