@import 'src/variable.scss';

.ArtWorkPlayContainer {
  width: 100%;
  margin: 0 auto;

  &-category {
    width: 1340px;
    font-family: AvertaCYBold;
    display: flex;
    padding: 55px 0 20px 0;
    font-size: 20px;
    margin: 0 auto;

    &-title {
      margin-left: 20px;
    }
  }

  &-musicWrapper {
    overflow: scroll;
    width: 1340px;
    margin: 0 auto;
    display: flex;
  }
}
