.Song {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;
  height: 240px;
  &-thumbnail {
    img {
      width: 188px;
      height: 180px;
    }
  }
  &-info {
      color: white;
  }
}
