@import "src/variable.scss";

.App {
  //height: 100vh;
  font-family: $font-normal;
  background-color: black;
  min-height: 1024px;
  height: 100%;
  min-width: 1440px;
  width: auto !important;
  &-body {
    padding-top: 94px; // top nav padding
    background: black;
    width: 1440px;
    //height: 100vh;
    margin: 0 auto;
  }
}
