@import "src/variable.scss";

.App {
  //height: 100vh;
  font-family: $font-normal;
  //background: black;
  &-body {
    padding-top: 94px; // top nav padding
    background: black;
    width: 1440px;
    //height: 100vh;
    margin: 0 auto;
  }
}
