.MusicDetail {
    background-color: black;
    color: white;
  
    &-header {
      height: 290px;
      background-image: linear-gradient(93deg, #7878ff, #ff3f3f);
      padding: 25px 40px 25px 40px;
      display: flex;
  
      &-albumCover {
        width: 240px;
        height: 240px;
        border-radius: 5px;
        box-shadow: 11px 14px 25px 0 rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(to bottom, rgba(216, 216, 216, 0.2), rgba(216, 216, 216, 0.2));
        text-align: center;
  
        &-playicon {
          display: none;
        }
      }


      &-albumCover:hover {
        & > div {
          background: url('src/assets/icons/icon2.png') no-repeat -446px -209px;
          width: 80px;
          height: 80px;
          display: inline-block;
          margin-top: 80px;
          top: 50%;
          cursor: pointer;
        }
      }
  
      &-albumInfo {
        margin: 10px 0 0 50px;
    
        div {
          padding: 5px;
        }
    
        @mixin text($size, $weight, $spacing) {
          font-family: SFProDisplay;
          font-size: $size;
          font-weight: $weight;
          letter-spacing: $spacing;
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(255, 255, 255, 0.12);
          padding: 3px 6px 3px 6px;
        }
    
        &-text1 {
          @include text(22px, normal, normal);
        }
    
        &-text2 {
          @include text(30px, 900, 0.6px);
        }
    
        &-button {
          background: url('src/assets/icons/icon2.png') no-repeat -280px -123px;
          width: 17px;
          height: 17px;
          margin-left: 15px;
          display: inline-block;
        }
      }
    }
  
    &-contents {
      height: 600px;
      display: flex;
  
      &-left {
        width: 700px;
        height: 600px;
        padding: 66px 100px 0px 100px;
  
        &-albumInfo {
          display: flex;
      
          &-profileImage {
            width: 100px;
            height: 100px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            background-blend-mode: screen;
            background-image: linear-gradient(to bottom, rgba(216, 216, 216, 0.2), rgba(216, 216, 216, 0.2));
          }
      
          &-details {
            margin: 0 0 0 50px;
            width: 200px;
      
            @mixin text($size, $weight) {
              font-family: AvertaCY;
              font-size: $size;
              font-weight: $weight;
            }
      
            &-text1 {
              @include text(12px, 300px);
              margin-bottom: -2px;
            }
      
            &-text2 {
              @include text(20px, normal);
            }
      
            &-text3 {
              @include text(24px, bold);
            }
          }
        }
  
        &-tab {
          padding-top: 20px;
        }
      }
  
      &-right {
        width: 100%;
        height: 600px;
        padding: 66px 30px 0px 20px;
    
        &-musicInfo {
          width: 100%;
          color: white;
          font-family: AvertaCY;
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          justify-content: space-between;
  
          &-one {
            width: 250px;
            float: left;
  
            &-commentsIcon {
              background: url('src/assets/icons/icon2.png') no-repeat -221px -38px;
              width: 21px;
              height: 20px;
              display: inline-block;
            }
          }
    
          &-two {
            float: left;
  
            &-playIcon {
              background: url('src/assets/icons/icon2.png') no-repeat -118px -92px;
              width: 12px;
              height: 15px;
              display: inline-block
            }
          }
    
          &-three {
            float: right;
          }
    
          &-four {
            float: right;
  
            &-featuredIcon {
              background: url('src/assets/icons/icon2.png') no-repeat -118px -92px;
              width: 12px;
              height: 15px;
              display: inline-block
            }
          }
    
          b {
            font-size: 20px;
            font-weight: 800;
          }
        }
    
        &-comments{
          &-input {
            width: 100%;
            display: flex;
            margin: 15px 15px 15px 0;
          }
          
          &-list {
            overflow-y: scroll;
            margin: 15px 15px 15px 0;
            color: white;
          }
        }
      }
    }
  }
  
