@import 'src/variable.scss';

.MusicRegist {
  width: 100%;
  color: white;
  background-color: #191b1c;
  height: 100%;

  position: fixed;
  top: 94px;
  left: 0;
  &-inner {
    margin: 0 auto;
    min-width: 1440px;
  }

  //width: 100%;
  form {
    //space between input form
    div:nth-child(1) {
      margin-bottom: 1.25rem;
    }
    textarea {
      min-height: 102px;
    }
    input[type='text'] {
      height: 2.65em;
    }
    input[type='text'],
    textarea {
      border: none;
      font-family: $font-normal;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.04);
      color: #d1d1d1;
    }
  }

  &_top {
    font-family: $font-Extra-bold;
    color: $green;
    text-align: center;
    padding: 37px 0px 50px 0px;
  }
  &_body {
    display: flex;
    max-width: 895px;
    margin: 0 auto;
  }
  &_left {
    font-family: $font-bold;
    font-size: 17px;
    flex: 1;
    span {
      float: right;
      font-size: 12px;
      font-family: $font-normal;
    }
  }

  //right area
  &_right {
    position: relative;
    font-family: $font-bold;
    font-size: 17px;
    flex: 1;
    margin-left: 69px;
  }
  &_right_top {
    padding-bottom: 13px;
  }
  &_right_mid {
    width: 366px;
    height: 366px;
    background-size: cover;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
  }

  &_right_bot_submit {
    position: absolute;
    bottom: 38px;
    right: 35px;
    button {
      padding: 0.5rem 2.5rem;
      font-family: $font-Extra-bold;
    }
    button:focus {
      outline: none;
    }
    button:nth-child(1) {
      color: #777777;
      background: none;
      border: none;
    }
    button:nth-child(2) {
      color: #000000;
      background: $green;
      border: none;
    }
  }
}
