.Navigation {
  width: 1340px;
  height: 75px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: white;
  }
  
  &-rightBox {
    width: 380px;
    display: flex;
    font-size: 19px;
    color: white;
    line-height: 85px;
    div {
      width: 120px;
      text-align: center;
    }
  }
  &-leftBox {
    padding-top: 24px;
    div {
      background: white;
      height: 36px;
      width: 250px;
      border-radius: 18px;
      display: flex;
      justify-content: center;
    }
    input {
      display: inline-block;
      border: none;
      font-size: 16px;
      height: 33px;
      &:focus {
        outline: none;
      }
    }
    i {
      color: gray;
      line-height: 38px;
      padding-right: 25px;
    }
  }
}
