.Header {
  // background: black;
  background: none;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  z-index: 5;
  //position: relative;
  padding: 28px 0px 28px 0px;
  display: flex;
  justify-content: space-between;
  &-menu {
    span {
      display: block;
      margin-left: 50px;
      background: url('../../../assets/icons/icon2.png') no-repeat -442px -41px;
      width: 19px;
      height: 13px;
    }

  }
  &-logo {
    position: absolute;
    left: 644px;
  }
  &-rightSide {
    /*background: lavenderblush;*/
    padding-right: 50px;
    display: flex;
    &-playlist {
      span{
        display: block;
        background: url('../../../assets/icons/icon2.png') no-repeat -169px -93px;
        width: 16px;
        height: 15px;
        margin-left: 124px;
      }

    }
  }
  &-rightSide-user{
    display: flex;
    & a{
      cursor: pointer;
      padding: 9px 32px;
      border-radius: 18.5px;
      border: solid 1px #979797;
      font-size: 14px;
      color: white;
    }
  }

}
