.Header {
  // background: tomato;
  header {
    background: black;
    width: 1340px;
    height: 65px;
    margin: 0 auto;
    color: white;
    font-size: 25x;
    font-weight: 700;
    text-align: center;   
  }
}