@import "src/variable.scss";

.GNB {
  font-family: $font-Extra-bold;
  font-size: 40px;
  height: 100%;
  width: 713px;
  position: fixed;
  left: 0;
  z-index: 999;
  top: 0;
  background-color: white;
  &-wrapper {
    position: absolute;
    span {
      display: inline-block;
      background: url("src/assets/icons/Artboard.png") no-repeat -449px -161px;
      width: 16px;
      height: 15px;
    }
  }
  &-top {
    position: relative;
    left: 45px;
    top: 28px;
  }
  &-body {
    div {
      display: table;
      margin-bottom: 26px;
    }
    div:hover {
      border-bottom: 5px solid #45f7aa;
    }
    padding-left: 78px;
    padding-top: 115px;
  }
  &-bottom {
    padding-left: 78px;
  }
}
