@font-face {
  font-family: "AvertaCYExtrabold";
  src: url("../../../assets/font/Averta\ CY\ Extrabold/AvertaCY-Extrabold.eot"); /* IE9 Compat Modes */
  src: url("../../../assets/font/Averta\ CY\ Extrabold/AvertaCY-Extrabold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../../assets/font/Averta\ CY\ Extrabold/AvertaCY-Extrabold.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../../assets/font/Averta\ CY\ Extrabold/AvertaCY-Extrabold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../../assets/font/Averta\ CY\ Extrabold/AvertaCY-Extrabold.svg#AvertaCY-Extrabold")
      format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.GNB {
  font-family: "AvertaCYExtrabold";
  font-size: 40px;
  height: 100%;
  width: 713px;
  position: fixed;
  left: 0;
  z-index: 999;
  top: 0;
  background-color: white;
  &-wrapper {
    position: absolute;
    span {
      display: inline-block;
      background: url("../../../assets/icons/Artboard.png") no-repeat -449px -161px;
      width: 16px;
      height: 15px;
    }
  }
  &-top {
    position: relative;
    left: 45px;
    top: 28px;
  }
  &-body {
    div {
      display: table;
      margin-bottom: 26px;
    }
    div:hover {
      border-bottom: 5px solid #45f7aa;
    }
    padding-left: 78px;
    padding-top: 115px;
  }
  &-bottom {
    padding-left: 78px;
  }
}
