@font-face {
    font-family: 'AvertaCY';
    src: url('../../../../font/Averta\ CY/AvertaCY-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../../../font/Averta\ CY/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../../font/Averta\ CY/AvertaCY-Regular.woff') format('woff'), /* Modern Browsers */
         url('../../../../font/Averta\ CY/AvertaCY-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../../font/Averta\ CY/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
.ChartTab {
    font-family: 'AvertaCY' ;
    &-selectTab {
        padding: 0px 50px;
        padding: 0px 50px;
        padding-top: 33px;
        display: flex;
        span {
            display: inline-block;
            width: 33.8px;
            height: 33.8px;
            background-color: #4c4c4c;
            border-radius: 50%;
        }
        select{
            font-family: 'AvertaCY' ;
            width: 171.8px;
            height: 35px;
            border-radius: 11px;
            border: solid 1px #979797;
            background-color: black;
            color: white;
            margin-left: 21px;
            font-size: 20px;
            -webkit-appearance: none;  /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
        
            background: url('../../../../assets/icons/icon2.png') no-repeat 92px -32px;
            padding: 4px 0px 6px 15px;
        }
    }
    &-selectTab {
        div:first-child {
            cursor: pointer;
            background: url('../../../../assets/icons/icon2.png') no-repeat -111px -152px;
            width: 35px;
            height: 35px;
        }
        div:first-child:hover  {
            cursor: pointer;
            background: url('../../../../assets/icons/icon2.png') no-repeat -49px -152px;
            width: 35px;
            height: 35px;
        }
    }
    &-chart {
        color: white;
        padding: 0px 50px;
        margin-top: 37px;
        table {
            width: 100%;

        }
    }
}